In [12]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('max_colwidth', None)

In [20]:
df_2000_1 = pd.read_csv('./hcm_hn_distance_2000_facility_count_bk.csv')
df_2000_1

,lat,lon,university,fuel,cafe,parking,parking_entrance,fast_food,marketplace,restaurant,hospital,school,kindergarten,townhall - community_centre,police,place_of_worship,bank,atm
0,21.036403,105.727235,1,4,1,0,0,0,0,3,1,11,3,0,2,18,0,0
1,20.985272,105.843605,7,12,19,13,2,12,4,16,5,38,20,0,13,3,34,51
2,20.978546,105.796775,12,8,20,5,6,4,5,20,7,39,13,0,7,13,10,46
3,21.028933,105.855453,4,13,458,38,5,116,15,694,25,52,25,0,38,80,128,466
4,21.046094,105.800236,13,14,92,71,30,27,11,107,8,50,23,0,14,40,35,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3843,10.761879,106.700807,14,14,328,42,0,49,15,501,13,51,17,0,18,102,126,104
3844,10.875113,106.652996,0,4,9,1,0,0,1,0,2,11,1,0,2,2,0,6
3845,10.745290,106.539112,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3846,10.778074,106.685171,23,22,433,46,0,79,22,625,26,75,22,0,14,97,165,133
3847,10.728533,106.653864,0,13,6,0,0,3,4,4,2,25,7,0,0,22,3,0

In [21]:
df_2000_2 = pd.read_csv('/home/long/long/datn-feast/feature_repo/full_hcm_hn_distance_2000_facility_count.csv')
df_2000_2

,lat,lon,university,fuel,cafe,parking,parking_entrance,fast_food,marketplace,restaurant,hospital,school,kindergarten,townhall - community_centre,police,place_of_worship,bank,atm
0,21.051920,105.781711,16,12,92,69,35,27,12,131,7,40,22,0,7,16,19,27
1,21.078009,105.812500,2,3,38,7,8,5,3,41,2,22,4,0,7,10,5,16
2,21.072695,105.802959,3,6,27,8,10,5,3,16,2,18,6,0,6,5,5,10
3,10.869919,106.735547,0,16,0,0,0,2,4,2,3,14,4,0,0,20,2,4
4,21.014174,105.810768,20,18,118,27,7,36,16,166,10,78,24,0,23,23,61,188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6187,20.987289,105.838340,7,12,22,15,3,13,4,18,12,36,18,0,11,3,46,68
6188,10.760817,106.659617,8,35,94,14,0,39,26,131,31,115,12,0,6,65,131,34
6189,21.029496,105.787911,20,11,120,71,40,25,16,125,7,56,28,0,12,27,39,67
6190,21.051025,105.613884,0,0,0,0,0,0,0,0,0,8,1,0,0,0,0,0
6191,20.967435,105.725725,0,0,0,0,2,0,0,0,0,6,4,0,0,2,0,0

In [22]:
assert df_2000_1.columns.tolist() ==  df_2000_2.columns.tolist()

In [23]:
df = pd.concat([df_2000_1, df_2000_2])
print(df.shape)
df = df.drop_duplicates(subset = ['lat', 'lon'], keep = 'first')
print(df.shape)

(10040, 18)
(5140, 18)

In [24]:
df = df.reset_index(drop = True)

In [25]:
df.to_csv('./hcm_hn_distance_2000_facility_count.csv', index = False)

In [26]:
df

,lat,lon,university,fuel,cafe,parking,parking_entrance,fast_food,marketplace,restaurant,hospital,school,kindergarten,townhall - community_centre,police,place_of_worship,bank,atm
0,21.036403,105.727235,1,4,1,0,0,0,0,3,1,11,3,0,2,18,0,0
1,20.985272,105.843605,7,12,19,13,2,12,4,16,5,38,20,0,13,3,34,51
2,20.978546,105.796775,12,8,20,5,6,4,5,20,7,39,13,0,7,13,10,46
3,21.028933,105.855453,4,13,458,38,5,116,15,694,25,52,25,0,38,80,128,466
4,21.046094,105.800236,13,14,92,71,30,27,11,107,8,50,23,0,14,40,35,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5135,10.873176,106.669486,1,3,8,1,0,0,1,0,0,7,0,0,0,2,0,4
5136,21.121336,105.775289,0,4,0,2,0,0,0,0,1,8,5,0,1,0,0,2
5137,21.276760,105.820487,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0
5138,21.029496,105.787911,20,11,120,71,40,25,16,125,7,56,28,0,12,27,39,67
5139,21.051025,105.613884,0,0,0,0,0,0,0,0,0,8,1,0,0,0,0,0